.myPage {
  background:blue;
}
.myButton{
  background:blue;
}
.img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
}
.text{
	font:bold 20px Tahoma;
	padding: 20px;
	margin-bottom: 15px;
	display:inline-block;
	text-align:center;
}
.text1{
	font:bold 20px Tahoma;
}
.text2{
	font:bold 16px Tahoma;
	color:blue;
}
.text3{
	font:bold 16px Tahoma;
	color:red;
}


